body {
    width: 100%;
    height: 100vh;
}

.form-inline {
    max-width: 300px;
    width: 100%;
    display: flex;
}

.btn{
  width: 80px;
}
.txt{
    width: 300px;
    margin: auto;
}
.navbar{
    /* width: 100%;
    margin: auto; */
}